In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('model_data.csv')

In [3]:
df

,researchExp,industryExp,toeflScore,internExp,greV,greQ,greA,univName,cgpa_4
0,0,24,113.0,2.0,159.0,170.0,4.0,Virginia Polytechnic Institute and State Unive...,3.080000
1,0,0,102.0,0.0,150.0,167.0,3.0,Virginia Polytechnic Institute and State Unive...,3.212000
2,12,24,111.0,4.0,158.0,170.0,4.5,Virginia Polytechnic Institute and State Unive...,3.648000
3,0,0,111.0,1.0,152.0,161.0,4.0,Virginia Polytechnic Institute and State Unive...,3.640000
4,0,27,105.0,0.0,154.0,165.0,3.5,Virginia Polytechnic Institute and State Unive...,2.804000
...,...,...,...,...,...,...,...,...,...
11729,0,0,92.0,0.0,145.0,161.0,3.0,Arizona State University,2.989474
11730,0,0,106.0,0.0,151.0,159.0,3.5,Arizona State University,3.489600
11731,0,0,96.0,0.0,151.0,158.0,3.0,Arizona State University,3.115789
11732,0,0,113.0,0.0,159.0,163.0,3.5,Arizona State University,3.280000
11733,0,0,96.0,0.0,150.0,160.0,4.0,Arizona State University,3.031579

# Get list of all the universities

In [9]:
y = df.univName.unique()
y

array(['Virginia Polytechnic Institute and State University',
       'University of Wisconsin Madison', 'University of Washington',
       'University of Utah', 'University of Texas Dallas',
       'University of Texas Arlington',
       'University of Southern California', 'University of Pennsylvania',
       'University of North Carolina Charlotte',
       'University of Minnesota Twin Cities',
       'University of Massachusetts Amherst',
       'University of Maryland College Park',
       'University of Illinois Urbana-Champaign',
       'University of Illinois Chicago', 'University of Florida',
       'University of Colorado Boulder', 'University of Cincinnati',
       'University of California Irvine', 'University of Arizona',
       'Texas A and M University College Station', 'Syracuse University',
       'SUNY Stony Brook', 'SUNY Buffalo',
       'Rutgers University New Brunswick/Piscataway', 'Purdue University',
       'Ohio State University Columbus', 'Northeastern University',
       'North Carolina State University', 'New York University',
       'New Jersey Institute of Technology',
       'Georgia Institute of Technology', 'George Mason University',
       'Cornell University', 'Clemson University',
       'Carnegie Mellon University', 'Arizona State University'],
      dtype=object)

# Make a new DataFrame with the list of universities and convert it to a dictionary

In [19]:
data = pd.DataFrame(data=y)
data.to_dict()

{0: {0: 'Virginia Polytechnic Institute and State University',
  1: 'University of Wisconsin Madison',
  2: 'University of Washington',
  3: 'University of Utah',
  4: 'University of Texas Dallas',
  5: 'University of Texas Arlington',
  6: 'University of Southern California',
  7: 'University of Pennsylvania',
  8: 'University of North Carolina Charlotte',
  9: 'University of Minnesota Twin Cities',
  10: 'University of Massachusetts Amherst',
  11: 'University of Maryland College Park',
  12: 'University of Illinois Urbana-Champaign',
  13: 'University of Illinois Chicago',
  14: 'University of Florida',
  15: 'University of Colorado Boulder',
  16: 'University of Cincinnati',
  17: 'University of California Irvine',
  18: 'University of Arizona',
  19: 'Texas A and M University College Station',
  20: 'Syracuse University',
  21: 'SUNY Stony Brook',
  22: 'SUNY Buffalo',
  23: 'Rutgers University New Brunswick/Piscataway',
  24: 'Purdue University',
  25: 'Ohio State University Columbus',
  26: 'Northeastern University',
  27: 'North Carolina State University',
  28: 'New York University',
  29: 'New Jersey Institute of Technology',
  30: 'Georgia Institute of Technology',
  31: 'George Mason University',
  32: 'Cornell University',
  33: 'Clemson University',
  34: 'Carnegie Mellon University',
  35: 'Arizona State University'}}

# Copy the dictionary to views.py file